#app {
  height: 600px;
  width: 800px;
  font-size: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header header"
  "nav article-1 article-1 ad-area"
  "nav article-1 article-1 ad-area"
  "nav article-2 article-2 ad-area"
  "nav article-2 article-2 ad-area"
  "footer footer footer footer";
}

#header {
  background-color: red;
  grid-area: header;
}

#footer {
  background-color: indigo;
  grid-area: footer;
}

#article-1 {
  background-color: yellow;
  grid-area: article-1;
}

#article-2 {
  background-color: green;
  grid-area: article-2;
}

#nav {
  background-color: orange;
  grid-area: nav;
}

#ad-area {
  background-color: blue;
  grid-area: ad-area;
}
